<%= erb :header_file %>
<div class="jumbotron">
  <div class="container">
    <h1>Andre's Minecraft Server</h1>
    <p>This is Andre's Minecraft Server. You can startup the server by using the panel above, or request access
    to the server <a href="#">here</a>.</p>
  </div>
</div>
<!-- TODO: A nice carousel of images from our server -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Map</h2>
      <p>We have a map of our server showing off the cool stuff.</p>
      <p><a class="btn btn-default" href="#" role="button">View map &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Generic Stats</h2>
      <p>See the stats of the various members of our server.</p>
      <p><a class="btn btn-default" href="#" role="button">View stats &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Code</h2>
      <p>All of the source code for my website is open! View it on Github.</p>
      <p><a class="btn btn-default" href="#" role="button">View code &raquo;</a></p>
    </div>
  </div>
<%= erb :footer_file %>