  </body>
  <!-- Putting script at the end so pages load faster -->
  <script src="javascript/jquery.min.js"></script>
  <script src="javascript/bootstrap.min.js"></script>
  <script src="javascript/status_checker.min.js"></script>
  <script src="javascript/startup.min.js"></script>
  <% @js_files.each do |file| %>
      <script src="javascript/<%=file%>"></script>
  <% end %>
</html>