<!DOCTYPE HTML>
<html>
  <meta charset="utf-8">
  <meta name="description" content="Andre's Minecraft Server Page"/>
  <meta name="author" content="cincospenguinos"/>
  <!-- We're using bootstrap because I'm lazy -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="css/header_stylesheet.min.css"/>
  <link rel="stylesheet" href="css/footer_stylesheet.min.css"/>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Start the Server</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- TODO: Check to see if the server is running. If so, then don't show this -->
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Username" id="send-startup-username" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" id="send-startup-password" class="form-control">
          </div>
          <button type="button" id="send-startup-button" class="btn btn-success">Start</button>
        </form>
      </div>
    </div>
  </nav>
  <body>
    <div class="container" id="startup-request-alert-space"></div>
